<nav class="navbar navbar-dark mt-5 fixed-bottom " style="background-color: rgb(3, 84, 139); z-index: 1;">
        <div class="navbar-expand m-auto navbar-text" style="color: white">
                © 2019 TerraBrasilis Reserach Data
                <div class="navbar-expand ml-auto navbar-nav">
            
                </div>
        </div>
        
        <div>
            
                <a class="textbar" href="https://github.com/terrabrasilis-research-data"><a><i class="fa fa-github"></i> Github</a></a>
    
            </div>
    
</nav>