<nav class="navbar navbar-dark box-shadow" style="background-color: rgb(3, 84, 139)">

                <div class="btn-navbar">
                    <div class="material-icons iconsbtn" (click)="OpenMenu()" >menu
                    </div>
                </div>

                <a class="navbar-brand" routerLink="/">
                    <span class="verde textlogo">Terra</span><span class="amarelo textlogo">Brasilis</span> <span class="azul textlogo"> Research Data Explorer</span>
                </a>
                <div class="navbar-expand mr-auto">
<!--
                    <div class="navbar-nav">
                        <a routerLink="/groups" class="textbar">Groups</a>
                        <a routerLink="/datasets" class="textbar" style="margin-left: 10px">Datasets</a>
                    </div>
-->
                </div>
                <div class="navbar-expand ml-auto navbar-nav">

                    <div class="navbar-nav">
<!--                             
                        <span *ngIf="!isLogged()">
                            <div class="textbar" routerLink="/login" >Login</div> 
                        </span>
                        
                        <span *ngIf="isLogged()">
                            <div>
                                <div class="middlebox6"> <div style="color:white">Welcome {{user.name}}</div></div>
                                <div class="rightbox6" ><img src="assets/images/img_avatar.png" alt="Avatar"> </div>
                            </div>
                        </span>
-->
                        
                    </div>

                </div>
            </nav>