  <!-- Sidebar -->
  <div class="Side" id="sidebar-wrapper" style="background-color: white">
        <div class="list-group list-group-flush">

            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <div class="imageheader">
                </div>

            </div>

            <!-- Sidebar Desc -->
            <a class="textlogo">
                <div class="navbar-header">

                </div>
            </a>
             
    <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
      <i class="material-icons">search</i>
      Search
    </mat-panel-title>

    </mat-expansion-panel-header>

    <mat-form-field appearance="fill" class="bodySide">
        <mat-label class="textMenu">Search in Datasets</mat-label>
        <mat-select [(value)]="selected" class="textMenu" multiple> 
          <mat-option *ngFor="let data of datasets" [value]="data.id">
            {{data.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button class="btnSearch" (click)="addlayer(selected)">Add Layers</button>
  
    </mat-expansion-panel>


    <mat-expansion-panel  [expanded]="true">
        <mat-expansion-panel-header>
          
            <mat-panel-title >
            <i class="material-icons">layers</i>
            Layers
          </mat-panel-title>
    
        </mat-expansion-panel-header>
      
        <div class="itemLayer" *ngFor="let layer of layers">
                
          <div class="middleboxSide"> <i class="material-icons config" (click)="openConfigDialog(layer.id)" matTooltip="Layer Settings">settings</i> </div>
          
          <div class="rightboxSide">
            <div class="middleboxSide2 title" (click)="openInfoDialog(layer.id)"> {{layer.title}}  </div>
            <div class="rightboxSide2">
              
              <mat-slide-toggle
              [color]="color"
              [checked]="checked">
              </mat-slide-toggle>
            
            </div>
            
  
          </div>

        </div>


      </mat-expansion-panel>
        

    </div>
    <!-- /#sidebar-wrapper -->
