.imageheader{
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/images/banner-topo.jpg");
    background-position: left; 
    background-size: 250px;
}

.sidebar-header{
    height: 240px;
}

.divboxbuton{
    align-items: center;
    align-content: center;
    padding-top: 10px;
}

.bar-button{
 height: 45px;
 background-color: rgb(27, 121, 183);

}

.bar-button:hover{
    background-color:rgb(42, 138, 201)
}

.bar-button-solid{
    height: 45px;
    background-color: rgb(27, 121, 183);
   }
   
.Side{
    height: 100%;
}

.textMenu{
    padding-left: 6px;
}

.btnSearch{
    margin-left: 10%;
    align-items: center;
    width: 80%;
    height: 45px;
    margin-bottom: 14px;
    color:#FFF !important;
    font-weight: 600 !important;
    background:#4ddf7c !important;
}

.contentBox{
    background-color: #FFF;
    height: 245px;
    padding: 0;
}

.mat-expansion-panel {
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid rgb(27, 121, 183);

    &:last-child {
        border-bottom: 0.5px solid rgb(27, 121, 183);
    }

    .mat-expansion-panel-header {
        background:rgb(27, 121, 183) !important;
        border-radius: 0 !important;
        border: none;
        display: flex;
        align-items: center;

        .mat-expansion-panel-header-title {
            color: #FFF;

            .mat-icon {
                margin-right: 5px;
            }
        }

        .mat-expansion-panel-body {
            background: #FFF; 
        }

        &:hover {
            background: rgba(#000, 0.3);
        }
    }
}

.mat-expansion-panel-spacing {
    margin: 0;
    padding: 0;
}

.bodySide{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 7px;
    padding-top: 7px;
    width: 100%;
}

.hr {
    margin: 0px 0 10px 0;
    padding: 0;
    border: 0.5px dashed rgb(27, 121, 183);
}

.itemLayer{

    align-items: center;
    align-content: center;
    width: 100%;
    padding-left: 6px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px solid #000;
}

.itemLayer:hover{
    background: #f1f3f4;
    cursor: pointer;
}

.title:hover{
    color: rgb(3, 84, 139);
}

.config:hover{
    color: rgb(3, 84, 139);
}

.rightboxSide{
    float:right; 
    width: 85%;
    text-align: left;

}

.middleboxSide{ 
    float:left;  
    width: 15%; 
    text-align: left;
} 


.rightboxSide2{
    float:right; 
    width: 15%;
    text-align: left;

}

.middleboxSide2{ 
    float:left;  
    width: 85%; 
    text-align: left;
    vertical-align: middle;
} 
