  <!-- Sidebar -->
  <div class="Side" id="sidebar-wrapper" style="background-color: white">
        <div class="list-group list-group-flush">

            <!-- Sidebar Header -->
            <div class="sidebar-header">
                <div class="imageheader">
                </div>

            </div>

            <!-- Sidebar Desc -->
            <a class="textlogo">
                <div class="navbar-header">

                </div>
            </a>
             
    <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
      <i class="material-icons">search</i>
      Buscar
    </mat-panel-title>

    </mat-expansion-panel-header>

    <mat-form-field appearance="fill" class="marginUp" >
        <mat-label class="textMenu">Buscar em Datasets</mat-label>
        <mat-select [(value)]="selected" class="textMenu" multiple required> 
          <mat-option *ngFor="let food of foods" [value]="food.id">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button class="btnSearch">Adicionar Camada</button>

    </mat-expansion-panel>


    <mat-expansion-panel>
        <mat-expansion-panel-header>
          
            <mat-panel-title>
            <i class="material-icons">layers</i>
            Camadas
          </mat-panel-title>
    
        </mat-expansion-panel-header>
    
        <p> Camadas </p>
        </mat-expansion-panel>
    

    </div>
    <!-- /#sidebar-wrapper -->
