.imageheader{
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/images/banner-topo.jpg");
    background-position: left; 
    background-size: 250px;
}

.sidebar-header{
    height: 240px;
}

.divboxbuton{
    align-items: center;
    align-content: center;
    padding-top: 10px;
}

.rightboxSide{
    float:right; 
    width: 84%;
    padding-left: 5px; 
    color: white;
    text-align: left;

}

.middleboxSide{ 
    float:left;  
    width: 16%; 
    color: white;
    text-align: right;
} 

.bar-button{
 height: 45px;
 background-color: rgb(27, 121, 183);
 cursor: pointer;
}

.bar-button:hover{
    background-color:rgb(42, 138, 201)
}

.bar-button-solid{
    height: 45px;
    background-color: rgb(27, 121, 183);
   }
   
.Side{
    height: 100%;
}

.textMenu{
    padding-left: 6px;
}

.btnSearch{
    margin-left: 17px;
    margin-right: 17px;
    color:#FFF !important;
    font-weight: 600 !important;
    background:#4ddf7c !important;
}

.contentBox{
    background-color: #FFF;
    height: 245px;
    padding: 0;
}

.mat-expansion-panel {
    border-radius: 0;
    box-shadow: none;
    border-top: 1px solid rgb(27, 121, 183);
    background: var(--mainBgLight);

    &:last-child {
        border-bottom: 0.5px solid rgb(27, 121, 183);
    }

    .mat-expansion-panel-header {
        background:rgb(27, 121, 183) !important;
        border-radius: 0 !important;
        border: none;
        display: flex;
        align-items: center;

        .mat-expansion-panel-header-title {
            color: #FFF;

            .mat-icon {
                margin-right: 10px;
            }
        }

        .mat-expansion-panel-body {
            background: #FFF;
        }

        &:hover {
            background: rgba(#000, 0.3);
        }
    }
}

.mat-expansion-panel-spacing {
    margin: 0;
}
.marginUp{
    margin-top: 14px;
}

.hr {
    margin: 0px 0 15px 0;
    padding: 0;
    border: 0.5px dashed rgb(27, 121, 183);
}