.button-datasets {
    z-index: 999;
    top: 228px;
    left: 260px;
    position: absolute;
    display: flex;

    .btn-start {
        width: 34px;
        height: 34px;
        border-radius: 4px;
        border: 2px solid rgba(#000, 0.2);
        cursor: pointer;

        .mat-icon {
            padding: 6px 0 0 6px;
            background: #FFF;
            width: 30px;
            height: 30px;
            margin: 0;
            border-radius: 2px;
            font-size: 18.5px;

            &:hover {
                background: #EEE;
            }
        }
    }
}