.button-datasets {
    z-index: 999;
    top: 140px;
    right: 10px;
    position: absolute;
    display: flex;

    .btn-start {
        width: 44px;
        height: 44px;
        border-radius: 4px;
        border: 2px solid rgba(#000, 0.2);
        cursor: pointer;

        .mat-icon {
            padding: 6px 0 0 6px;
            background: #FFF;
            width: 38px;
            height: 38px;
            margin: 0;
            border-radius: 2px;
            font-size: 32px;

            &:hover {
                background: #EEE;
            }
        }
    }
}