
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$terrabrasilis-research-data-primary: mat-palette($mat-indigo);
$terrabrasilis-research-data-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$terrabrasilis-research-data-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$terrabrasilis-research-data-theme: mat-light-theme($terrabrasilis-research-data-primary, $terrabrasilis-research-data-accent, $terrabrasilis-research-data-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($terrabrasilis-research-data-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import "~leaflet/dist/leaflet.css";

.nav-btn {

    padding-right: 10px;
}

/* Add application styles & imports to this file! */
body {
    overflow-x: hidden;
  }
  
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15.6rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.leaflet-control-container .leaflet-control-coordinates .uiHidden {
  display: none !important;
}
.leaflet-control-container .leaflet-control-coordinates .label {
  border-radius: 5px;
  background: rgba(#FFF, 0.5);
  margin: 0px;

  .labelFirst {
      padding: 20px 7.5px;
  }
}
.geocoder-control-input.geocoder-control-loading{
  background-color: #FFF;
  background-image: url("esri-leaflet-geocoder/dist/img/loading@2x.gif");
}

.leaflet-bottom .leaflet-control-scale {
  margin-left: 210px;
  display: flex;
  margin-bottom: -30px;
  
  .leaflet-control-scale-line {
      background: rgba(#FFF, 0.9);
      border: none;
      font-size: 12px;
      padding: 2.5px 5px !important;
      line-height: none;
      border-radius: 5px;

      &:not(:first-child) {
          margin-top: 0;
      }
  }
}

.mat-expansion-panel-content > .mat-expansion-panel-body {
  padding: 0 !important;
}